.rg-uneditable-cell {
  justify-content: center;
  background-color: #ccc;
}

.rg-uneditable-wrapper {
  width: 50%;
  height: 80%;
  background-size: cover;
  border: 1px solid #cccccc;
  background-position: center center;
  background-repeat: no-repeat;
}
